each game in games
  .game
    a.play(href=game.play, target='_blank')
      span.name=game.name
    =' by '
    span.author=game.author
    if game.author == 'Jacques Frechet'
      span.disclosure(title='Full disclosure: I wrote this game.')='*'
    else if game.disclosure
      span.disclosure(title='Full disclosure: I helped test this game.')='*'
    span.links
      - var sep = ' \u2014\u00a0'
      =sep
      span.link.songs
        if game.songs.length > 1
          ='songs: '
        each song, i in game.songs
          a.song(title=song.name+' by '+song.author, href=song.play, target='_blank')
            if game.songs.length == 1
              ='song'
            else
              =i+1
          if song.disclosure
            span.disclosure(title='Full disclosure: I suggested this song.')
              ='*'
          if i < game.songs.length-1
            =' '
      if game.download
        =sep
        span.link.download
          a(href=game.download) download
      if game.parser
        =sep
        span.link.interpreter
          a(href=/\.a3c$/.test(game.download)?'http://www.alanif.se/download-alan-v3/interpreters':'http://inform7.com/if/interpreters/') interpreter
      if game.hints
        =sep
        span.link.hints
          a(href=game.hints, target='_blank') hints
      if game.walkthrough
        =sep
        span.link.walkthrough
          a(href=game.walkthrough target='_blank') walkthrough
