.question= q.q
.answers
  each a, i in q.a
    a.answer(href=mkUrl(i))
      span.link-text=a.a
.skips
  a.skip(href=skipUrl)
    span.link-text skip this question
  a.skip-all(href=skipAllUrl)
    span.link-text skip all remaining questions
